


p {
    margin-left: 10px;
    font-size: 12px;
}

.bottom_margin {
    width: 10px;
}


.color_scheme_one {
    background-color: lightgrey;
    color: darkblue;
    border: 1px solid black;
}

.color_scheme_two {
    background-color: lightgrey;
    color: darkblue;
    width: 100%;
    border: 1px solid transparent;
}

.color_scheme_three {
    background-color: darkblue;
    color: white;
}

.color_scheme_four {
    background-color: red;
    color: white;
}

iframe {
    overflow: hidden;
    opacity: 1;
}

h1 {
    text-align: center;
}

h3 {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    font-size: 25px;
}

.url_input_table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.url_input {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

.button_one {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

.bot_name {
    font-size: 35px;
}

.dev_name {
    margin-top: 10px;
    font-size: 20px;
}

.tech {
    margin-top: 5px;
    font-size: 20px;
}

.moves_table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    font-size: 12px;
}

.turn_header_col {
    font-weight: bold;
    font-size: 20px;
    width: 100px;
    text-align: center;
}


.td1 {
    border: 1px solid black;
    padding: 5px;
}

.td2 {
    border: none;
    padding: 0;
}

.dice_throw_col {
}

.dice_container {
    height: 25px;
    width: 25px;
    margin-top: 3px;
    margin-right: 3px;
    border: 3px solid;
    overflow: hidden;
    border-radius: 4px;
    display: inline-block;
}

.hold {
    border-color: darkblue;
}

.roll {
    border-color: silver;
}

.dice_1 {
    width: 100px;
    height: 70px;
    margin-top: -4px;
    margin-left: -3px;
}

.dice_2 {
    width: 100px;
    height: 70px;
    margin-top: -4px;
    margin-left: -37px;
}

.dice_3 {
    width: 100px;
    height: 70px;
    margin-top: -4px;
    margin-left: -72px;
}

.dice_4 {
    width: 100px;
    height: 70px;
    margin-top: -39px;
    margin-left: -3px;
}

.dice_5 {
    width: 100px;
    height: 70px;
    margin-top: -39px;
    margin-left: -37px;
}

.dice_6 {
    width: 100px;
    height: 70px;
    margin-top: -40px;
    margin-left: -71px;
}


/*-----------------------------------------------------*/

.floaty {
    height: 165px;
    opacity: 1;
    cursor: default;
}


.stats_table {
    margin-top:5px;
    width: 100%;
    border: none;
    border-collapse:collapse;
    border-radius:10px;
}

.stats_table_cell_left{
    border: 1px dotted black;
    border-left:none;
    padding: 5px;
    width:50%;
}

.stats_table_cell_right {
    border: 1px dotted black;
    border-right: none;
    padding: 5px;
    padding-left: 7px;
}

.stats_table_para {
    font-size: 16px;
}

button{
    width:100%;
    font-weight:bold;
}